/*.color-primary-0 { color: #E96C00 }
.color-primary-1 { color: #190B00 }
.color-primary-2 { color: #813C00 }
.color-primary-3 { color: #FF8E2C }
.color-primary-4 { color: #FFB06D }

.color-secondary-1-0 { color: #E98800 }
.color-secondary-1-1 { color: #190E00 }
.color-secondary-1-2 { color: #814B00 }
.color-secondary-1-3 { color: #FFA82C }
.color-secondary-1-4 { color: #FFC26D }

.color-secondary-2-0 { color: #E93F00 }
.color-secondary-2-1 { color: #190700 }
.color-secondary-2-2 { color: #812300 }
.color-secondary-2-3 { color: #FF652C }
.color-secondary-2-4 { color: #FF946D }*/

html {
    background-color: #333;
}

body {
    background-color: #222;
    width: 900px;
    margin: 1% auto;
    padding: 1%;
    font-family: sans-serif;
}

header {
    background-color: #E96C00;
    background: linear-gradient(150deg, #E96C00 55%, #FFA82C 80%, #E96C00);
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

h1,
h1 a {
    color: #FFC26D;
    width: 50%;
    margin: 0;
    padding: 0;
    font-size: 2rem;
    text-decoration: none;
}

header > a {
    color: #190700;
    text-decoration: none;
    background-color: #FFC26D;
    border: 1px solid #FF8E2C;
    padding: 2px 2px 1px 2px;
    height: 1rem;
    font-size: 0.8rem;
    vertical-align: baseline;
    margin: 2px 0 -1px 0;
}

.Auth {
    text-align: right;
}

.Auth label {
    color: #190700;
}

.Auth input {
    width: 8rem;
}

h2 {
    color: #812300;
}

::-webkit-input-placeholder {
    color: #E96C00;
}

:-moz-placeholder {
    color: #E96C00;
    opacity: 1;
}

::-moz-placeholder {
    color: #E96C00;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #E96C00;
}

input,
textarea {
    background-color: #FFC26D;
    border: 1px solid #FF8E2C;
    margin-top: 2px;
    color: #814B00;
    padding-left: 2px;
}

label span {
    display: inline-block;
    width: 6rem;
}

form label:nth-child(1),
form label:nth-child(2),
.form input[type=submit] {
    display: block;
}

.form {
    max-width: 400px;
    margin: 1rem auto;
    background-color: #333;
    color: #FF946D;
    padding: 1em;
    border-radius: 5px;
    border: 1px dashed #FF652C;
}

input[type=submit]:active {
    background-color: #FF652C;
    border: 1px solid #812300;
    color: #FFC26D;
}

.vignette {
    float: left;
    max-width: 150px;
    max-height: 95px;
    min-height: 80px;
    margin-right: 10px;
}

.resume,
.visionne {
    display: block;
    min-height: 95px;
    width: 90%;
    margin: 10px auto;
    padding: 5px;
    background-color: #333;
    color: #FFB06D;
}

.resume:nth-child(odd) {
    border-left: 3px solid #E98800;
}

.resume:nth-child(even) {
    border-right: 3px solid #E98800;
}

.visionne .vignette {
    width: 100%;
    float: none;
    max-width: 100%;
    max-height: 100%;
}

.invalid {
    border: 1px solid red;
    box-shadow: 0 0 5px red inset;
}

@media screen and (max-width: 950px) {
    body {
        width: 720px;
        /* width: 90%;*/
    }
    h1 {
        width: 60%;
        font-size: 1.5rem;
    }
    .form {
        width: 80%;
        margin: 2% auto;
        padding: 1%;
        border-radius: 5px;
    }
    .form input[type=text] {
        display: block;
        width: 6rem;
    }
}

@media screen and (max-width: 800px) {
    body {
        width: 90%;
        margin: 1% auto;
    }
    h1,
    h1 a {
        width: 100%;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 420px) {
    body {
        width: 96%;
        padding: 1%;
        margin: 1%;
    }
    h1,
    h1 a {
        width: 100%;
        margin: 1%;
        font-size: 1.5rem;
    }
    header > a {
        padding: 3px 2px 0px 2px;
        height: 1.5rem;
        font-size: 1rem;
        margin: 5px 0 -5px 0;
    }
    .form,
    .Resul {
        width: 98%;
        margin: 1% 0;
        padding: 1%;
        border-radius: 5px;
    }
    input {
        height: 1.5rem;
    }
    .form input[type=text],
    .form input[type=file],
    .form textarea {
        margin: auto;
        width: 90%;
        display: block;
    }
    input[type=checkbox] {
        width: 1.5rem;
    }
    input[type=submit] {
        height: 1.8rem;
        width: 150px;
        margin: 5px auto;
        font-size: 1rem;
        color: #190700;
    }
}
