@font-face {
    font-family: 'Pacifico';
    src: url('fonts/Pacifico.ttf') format('truetype');
    }


html {
	background-image: url('accueil.jpg');
	background-position: center;
	background-repeat : no-repeat;
}

body {
	font-family: Pacifico;
	font-size: 2em;
}

h1,#explain {
	text-align: center;
}

img {
	float: left;
	margin-left: 48%;
}