@font-face {
    font-family: 'Pacifico';
    src: url('fonts/Pacifico.ttf') format('truetype');
    }


body {
background-image: url('accueil.ppg');
background-repeat : no-repeat ;
    width: 900px;
    margin: 1% auto;
    padding: 1%;
    font-family: pacifico;
}

















